@{

  

    ViewData["Title"] = "Главная страница";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-controller="HelloWorld" asp-action="Welcome">переход на HelloWorld- главная сраница</a>.</p>
</div>
